header {
    background: black;
    height: 50px;
    opacity: .5;
    overflow: hidden;
}

body {
    background: url("images/hiking.jpg") no-repeat center center fixed;
    background-size: cover;
}

.nav-wrapper {
    display:flex;
    justify-content: flex-end;
    margin: 10px;
}

.home {
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
}

.one {
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
}

.two {
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
}

.intro {
    color: whitesmoke;
    text-align: left;
}