<h2>Add Hike</h2>

<form action="/hikes" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">
    <input type="submit" value="Save">
</form>


{{!--
<h2>Delete Hike</h2>

<form action="/{{this.id}}?_method=delete" method="post">
    {{!--
    <input type="text" name="name" placeholder="name"> --}}
    <input type="submit" value="Remove">
</form> --}}