<h1>Add Hike</h1>

<form action="/hikes" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">
    <input type="submit" value="Save">
</form>